.contenedor {
    height: 600px;
    width: 600px;
    margin: auto;
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
}

.caja1, .caja2, .caja3 {
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.caja1 {
    background: red;
}

.caja2 {
    background: blue;
}

.caja3 {
    background: green;
}